.page-header { background: url("./../../public/photo-1437419764061-2473afe69fc2.png")no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 170px; padding-bottom: 174px; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }
.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }