.page-header { background: url("./../../public/img/bg-pink.jpg") no-repeat;  position: relative; background-size: cover; }
.page-caption { padding: 7rem 0rem; }
.page-title { font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }
.card-section { position: relative; bottom: 60px; }
.card-block { padding: 80px; }
.section-title { margin-bottom: 60px; }